.nav{
    display: flex;
    gap: 10vw;
    justify-content:right;
    list-style-type:none;
    
    
    
    
}
.sec{
    background-color: grey;
}
button{
    border: 0px;
    background-color: white;
    cursor:pointer;
    font-size: 1.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;

}
button:hover{
    color:grey
}
















































