body{
    margin: 0px;
    padding:0px;
    background-color: black;
    font-family: Poppins;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.taskbar{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: flex-end;
    margin-top: 5vh;
    margin-right: 10vw;


}
.main-down{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    background-color: black;
}
.main-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BEBEBE;
    width: 50vw;
}
.main-img{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    justify-content: center;
    


}
